html, body, #app {
    height: 100vh;
}

#app { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box {
    width: 60px;
    height: 60px;
    background: #f00;
    margin: 5px;
}